.workcontainer {
    margin-top: 30px;
    height: 700px;
}

.workHeading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.workcontainer {
    max-height: 100%;
}

.img-size {
    width: 50%;
    height: 50%;
    align-self: center;
}

.workrow {
    padding: 10px;
}

.workcard {
    margin-top: 30px;
}